:root {
    --topScreenColor: #272727;
    --screenColor; #3f3e3e;
    --calcBodyColor: #2C2C2C;
    --normalBtnColor: #373737;
    --equalBtnColor: #0D761D;
    --clearBtnColor: #e5a023;
    --deleteBtnColor: #A21223;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(17 24 39);
    color: rgb(229, 231, 235);
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#topScreen {
    width: 300px;
    height: 167px;
    background-color: var(--topScreenColor);
}

#screen {
    height: 80px;
    font-size: 30px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

#calcContainer {
    width: 300px;
    height: 480px;
    background-color: var(--calcBodyColor);
}

#allBtnContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.normalBtn {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    width: 55px;
    height: 40px;
    background-color: var(--normalBtnColor);
    color: white;
    margin: 2px;
}

.normalBtn.deleteBtn {
    background-color: var(--deleteBtnColor);
}

.normalBtn.clearBtn {
    background-color: var(--clearBtnColor);
}

.normalBtn.equalBtn {
    background-color: var(--equalBtnColor);
}

.normalBtn:disabled {
    color: rgba(255, 255, 255, 0.3)
}

#screen.naughty {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
